apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: emailservice
  namespace: pepsi
spec:
  tls:
  - hosts:
    - cafe.example.com
    secretName: cafe-secret
  rules:
  - host: cafe.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: emailservice
            port:
              number: 80
